<ul>
  <li>
    <label>Superannuation : </label>
    <input [(ngModel)] = "userDatas.superAnnuation" required/> %
  </li>
  <li>
    <label>Gross amount : </label>
    <input [(ngModel)] = "userDatas.gross" required/>
  </li>
  <li>
    <label>Include superannuation</label>
    <input (change)="userDatas.isIncludeSA = !userDatas.isIncludeSA;" type="checkbox"/>
  </li>
  <div *ngIf="isIncludeSA">Included</div>
  {{userDatas?.superAnnuation}}
  {{userDatas?.gross}}
</ul>
<button (click)="calc()">Calculate</button>

<label>SA amout</label>{{calculatedAmounts?.superAnnuationAmount}}
<label>Gross amount</label>{{calculatedAmounts?.grossAmount}}
<label>Tax</label>{{calculatedAmounts?.tax}}
<label>Net amount</label>{{calculatedAmounts?.netAmount}}
<label>Net superannuation</label>{{calculatedAmounts?.netSA}}