ul {
    list-style-type: none;
}

.form-group {
    margin: 1em;
}

.errorValidation {
    color: #cf3b3c;
    background-color: #fba9aa;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #cf3b3c;
    padding: 0.5em;
    margin: 0.5em;
}

#container{
    margin: 0 auto;
    max-width: 70%;
}

.blockValue {
    margin:0.5em;
    padding:1em;
    background-color: beige;
    border-radius: 5px;
}

button {
    background-color: whitesmoke;
}