<form (ngSubmit)="onSubmit()" [formGroup]="datasForm">
  <div class="form-group">
    <label>Superannuation : </label>
    <input class="form-control" formControlName="superAnnuation" required/> %
    <div *ngIf="datasForm.get('superAnnuation').hasError('required')">Superannuation is required</div>
    <div *ngIf="datasForm.get('superAnnuation').hasError('minValue')">
      Superannuation must be greater than 9.5% or equal</div>
  </div>
  <div class="form-group">
    <label>Gross amount : </label>
    <input class="form-control" formControlName="gross" required/>
    <div *ngIf="datasForm.get('gross').hasError('required')">Gross amount is required</div>
    <div *ngIf="datasForm.get('gross').hasError('minValue')">
      Gross amount must be greater than 0</div>
  </div>
  <div class="form-group">
    <label>Include superannuation</label>
    <mat-checkbox formControlName="isIncludeSA"></mat-checkbox>
  </div>
  <button type="submit" [disabled]="!datasForm.valid">Calculate</button>
</form>

<label>SA amout</label>{{calculatedAmounts?.superAnnuationAmount}}
<label>Gross amount</label>{{calculatedAmounts?.grossAmount}}
<label>Tax</label>{{calculatedAmounts?.tax}}
<label>Net amount</label>{{calculatedAmounts?.netAmount}}
<label>Net superannuation</label>{{calculatedAmounts?.netSA}}